@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 17, 20, 12; 
  --background-end-rgb: 35, 40, 25;
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cut-corners-button {
  clip-path: polygon(10% 0, 100% 0%, 100% 50%, 90% 100%, 0% 100%, 0 60%);
}

.cut-corners-card {
  clip-path: polygon(5% 0, 100% 0%, 100% 95%, 95% 100%, 0% 100%, 0 10%);
}